.places__place-paragraph {
    max-width: 456px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30.44px;
    margin: 0;
    hyphens: auto;
}

@media (max-width: 810px) {
    .places__place-paragraph {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (max-width: 320px) {
    .places__place-paragraph {
        font-size: 16px;
        padding: 0 16px;
    }
}

.places__place-paragraph:first-child {
    padding-bottom: 25px;
}

.places__place-paragraph:last-child {
    padding-bottom: 0;
}