.places {
    max-width: 984px;
    margin: 12px auto 92px;
}

@media (max-width: 1024px) {
    .places {
        max-width: 928px;
        margin: 12px auto 92px;
    }
}

@media (max-width: 800px) {
    .places {
        max-width: 720px;
        margin: 15px auto 90px;
    }
}

@media (max-width: 320px) {
    .places {
        max-width: 320px;
        margin: 0 auto 66px;
    }
}