.header__lang {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    text-decoration: none;
    color: #FFF;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    list-style: none;
    gap: 18px;
    /*очуметь, без вашей подсказки, я бы до сих пор считал, что gap можно использовать только в гридах. Спасибо!!!*/
}

@media (max-width: 320px) {
    .header__lang {
        font-size: 18px;
    }
}