.header__lang {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    text-decoration: none;
    color: #FFF;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    list-style: none;
    width: 74px;
}

@media (max-width: 320px) {
    .header__lang {
        width: 58px;
        font-size: 18px;
    }
}