.places__place-url {
    margin: 0;
    padding-bottom: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #AAAAAA;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@media (max-width: 320px) {
    .places__place-url {
        margin: 0;
        padding-bottom: 0;
    }
}