.places__place-title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1;
  margin: 0;
  padding: 80px 0 48px;
}

@media (max-width: 768px){
  .places__place-title {
    font-size: 42px;
    line-height: 1;
  }
}

@media (max-width: 320px){
  .places__place-title {
    font-size: 32px;
    line-height: 1;
  }
}