.header {
    max-width: 1184px;
    margin: 28px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1024px) {
    .header {
        max-width: 928px;
    }
}

@media (max-width: 768px) {
    .header {
        max-width: 720px;
    }
}

@media (max-width: 320px) {
    .header {
        max-width: 288px;
    }
}