.places__place-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(76px 152px) 460px;
}

@media (max-width: 320px){
  .places__place-wrap {
    display: grid;
    max-width: 320px;
    grid-template-columns: 1fr;
  }
}
