.root {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #2a2c2f;
    font-family: 'Inter', 'Arial', sans-serif;
    color: #fff;
}

@media (max-width: 1024px) {
    .root {
        max-width: 1024px;
    }
}

@media (max-width: 768px) {
    .root {
        max-width: 768px;
    }
}

@media (max-width: 320px) {
    .root {
        min-width: 320px;
    }
}