 .cover {
     display: flex;
     /*Пока додумался что тут надо применить флекс, чтобы ссылка была на весь блок, думал вырву себе все волосы, а мне их жалко, 12 лет растил!=)*/
     flex-direction: column;
     max-width: 1184px;
     margin: 0 auto;
     background-image: url(../../images/cover/__background.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
 }
 
 @media (max-width: 1024px) {
     .cover {
         max-width: 1024px;
         /*с высотой крайне глупо получилось, признаю. Я ведь сам размеры элементы паддингами создал*/
     }
 }
 
 @media (max-width: 950px) {
     .cover {
         max-width: 768px;
     }
 }
 
 @media (max-width: 320px) {
     .cover {
         max-width: 320px;
     }
 }