.places__place-image {
  width: 460px;
  height: 460px;
}

@media (max-width:1024px){
  .places__place-image {
    width: 440px;
    height: 440px;
  }
}

@media (max-width:768px){
  .places__place-image {
    width: 340px;
    height: 340px;
  }
}

@media (max-width:600px){
  .places__place-image {
    width: 310px;
    height: 310px;
    padding-bottom: 32px;
  }
}