.cover__overlay {
    background-color: rgba(42, 44, 47, .3);
}

.cover__overlay:hover {
    background-color: rgba(42, 44, 47, .8);
    transition: 1s;
}

.cover__overlay:not(:hover) {
    background-color: none;
    transition: 1s;
}