.lead__caption {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px; 
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: left;
  max-width: 984px;
  margin: 0 auto;
  padding-top: 8px;
}
@media (max-width: 1024px){
  .lead__caption {
    max-width: 768px;
    margin: 0;
    padding-left: 48px;
  }
}

@media (max-width: 768px){
  .lead__caption {
    max-width: 768px;
    padding-left: 24px;
  }
}

@media (max-width: 320px){
  .lead__caption {
    max-width: 320px;
  }
}