.footer {
  max-width: 1184px;
  margin: 92px auto 24px;
  padding: 0 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1024px){
  .footer {
    max-width: 928px; 
  }
}

@media (max-width: 768px){
  .footer {
    max-width: 928px; 
    margin: 88px auto 24px;
    padding: 0 24px;
  }
}

@media (max-width: 600px){
  .footer {
    max-width: 186px; 
    flex-direction: column;
    margin: 64px 0 0;
  }
}
