.lead__map {
  width: 984px;
  height: 615px;
}

@media (max-width:1024px){
  .lead__map {
    width: 928px;
    height: 580px;
  }
}

@media (max-width:768px){
  .lead__map {
    width: 768px;
    height: 480px;
  }
}

@media (max-width:320px){
  .lead__map {
    width: 320px;
    height: 200px;
  }
}