.lead__map {
  max-width: 984px;
  max-height: 615px;
}

@media (max-width:1280px){
  .lead__map {
    max-width: 96vw;
    max-height: 96vh;
  }
}

@media (max-width:320px){
  .lead__map {
    width: 320px;
    height: 200px;
  }
}