.places__place-website {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
}

.places__place-website:hover {
    opacity: 0.8;
    transition: 1s;
}

.places__place-website:not(:hover) {
    opacity: 1;
    transition: 1s;
}

@media (max-width: 320px) {
    .places__place-website {
        padding: 12px 0 32px;
    }
}