.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.1;
  padding-bottom: 40px;
  margin: 0 ;
}

@media (max-width: 320px){
  .intro__title {
    font-size: 32px;    
    line-height: 1.1;
  }
}